.calculator {
  width: 250px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.calculator-screen {
  display: block;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.calculator-keys button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.number {
  background-color: #e0e0e0;
}

.clear-entry,
.clear {
  background-color: #008080;
  color: #fff;
}

.percent,
.power,
.square-root,
.plus-minus,
.decimal {
  background-color: #e0e0e0;
  color: #fff;
}

.operator,
.equal-sign {
  background-color: #ff9f1a;
  color: #fff;
}

.decimal {
  font-size: 24px;
}

.backspace {
  background-color: #e0e0e0;
  color: #000;
}

.dark .calculator-screen {
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
}

.calculator.dark {
  background-color: #1c1c1c;
  color: #f1f1f1;
}

.dark {
  background-color: #222;
  color: #fff;
}

.dark .calculator-keys number {
  background-color: #444;
}

.dark .number {
  background-color: #333;
}

.dark .percent,
.dark .power,
.dark .square-root,
.dark .plus-minus,
.dark .decimal {
  background-color: #555;
  color: #fff;
}

.dark .operator,
.dark .equal-sign {
  background-color: #ff9f1a;
  color: #222;
}


/* O switch - a caixa ao redor do slider */
.switch-container {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  top: 0;
  left: 0;
}

/* Oculta o checkbox HTML padrão */
.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* O slider */
.switch-container .slider {
  --background: linear-gradient(to right, #090613ef, #18151f);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  transition: background-color 0.5s;
  border-radius: 30px;
}

.switch-container .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 15px -4px 0px 15px #f8ea27;
  background: var(--background);
  transition: transform 0.5s, box-shadow 0.5s;
}

.switch-container input:checked + .slider {
  background-color: #000;
}

.switch-container input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 8px -4px 0px 0px #f8f8f4;
}
